<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
                <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <identity impersonate="true" />
        <!--authentication mode="Forms">
            <forms name=".ASPXFORMSDEMO" loginUrl="Default.aspx"
            protection="All" path="/" timeout="30" defaultUrl="Gestion.aspx" />
        </authentication-->
        <authorization>
            <deny users="?" />
            <allow users="*" />
        </authorization>
        <authentication mode="Windows" />
        <customErrors mode="Off"></customErrors>
        <httpRuntime maxRequestLength="5120" requestValidationMode="2.0"/>
        <pages validateRequest ="false"></pages>
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding>
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
                <binding name="Miguel" maxReceivedMessageSize ="2147483647" maxBufferSize ="2147483647" maxBufferPoolSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="TransportCredentialOnly" >
                        <transport clientCredentialType="Windows"  />
                    </security>
                </binding>
            </webHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="Cobranzas.wsCobranzasAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
        <services>
            <service name="Cobranzas.wsCobranzas">
                <endpoint address="" behaviorConfiguration="Cobranzas.wsCobranzasAspNetAjaxBehavior" binding="webHttpBinding" bindingName="Miguel" contract="Cobranzas.wsCobranzas"  />
            </service>
        </services>
    </system.serviceModel>
</configuration>